{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.noonian/cromulent {:git/sha "7512173f21645c33d2910483ec08e7d6b785b0c6"}
        io.github.noonian/bendix {:git/sha "cb9df229692e62a7ec423d845cb0c5c89ea13111"}}
 :aliases
 {;; the cromulent and bendix checkouts beside this one in place of the
  ;; pinned shas: clojure -M:local:test, npx shadow-cljs -A:local watch app
  :local {:override-deps {io.github.noonian/cromulent {:local/root "../cromulent"}
                          io.github.noonian/bendix {:local/root "../bendix"}}}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "orrery.test-runner"]}
  ;; the browser and node builds (shadow-cljs reads this alias)
  :cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "3.5.3"}
                      no.cjohansen/replicant {:mvn/version "2026.07.1"}
                      org.babashka/sci {:mvn/version "0.15.58"}}}}
 :tasks
 {test {:extra-paths ["test"]
        :main-opts ["-m" "orrery.test-runner"]}}}
