{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.noonian/cromulent {:git/sha "e5fcdfdf8e019ab6b5015c9d22beb3fc2001c9cc"}
        io.github.noonian/bendix {:git/sha "e294becd4b0fdbc22cefcc8b1501914b5a222a10"}}
 :aliases
 {;; the cromulent and bendix checkouts beside this one in place of the
  ;; pinned shas: clojure -M:local:test, npx shadow-cljs -A:local watch app
  :local {:override-deps {io.github.noonian/cromulent {:local/root "../cromulent"}
                          io.github.noonian/bendix {:local/root "../bendix"}}}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "orrery.test-runner"]}
  ;; the browser and node builds (shadow-cljs reads this alias)
  :cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "3.5.3"}
                      no.cjohansen/replicant {:mvn/version "2026.07.1"}
                      org.babashka/sci {:mvn/version "0.15.58"}}}}
 :tasks
 {test {:extra-paths ["test"]
        :main-opts ["-m" "orrery.test-runner"]}}}
